<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Calendar</title>
	<script type="text/javascript" src="{% static 'vendor/extensible/Extensible-config.js' %}"></script>
	<script type="text/javascript" src="{% static 'cal/app.js' %}"></script>

</head>
<body>
 
<div id="calbox" style="width:600px; height:400px;"></div>
<span id="app-msg" class="x-hidden"></span>


<form name="login" action="newLogin.php" method="post">
                        {% csrf_token %}
			<span class="block">
                        Username: <input type="text" id="username" name="username" required />
                        Password: <input type="password" id="password" name = "password" required/>
                        <input type="submit" value="Login">
                        </span>
</form>
<br>
<form name="newUser" action="newUser.php" method="post">
                        {% csrf_token %}
			<span class="block">
                        New Username: <input type="text" id="username" name="username" required />
                        New Password: <input type="password" id="password" name = "password" required/>
                        <input type="submit" value="Create">
                        </span>
</form>
 
</body>
</html>

